body {
}

.light-grey-text {
    color: #999999;
}

.content {
    padding-top: 40px;
}

.option-inputs {
    padding-top: 10px;
}

#input-url {
    width: 80px;
}

#resultInfo {
    color: red;
}